.media-library-widget-activate-link {
    background-color: #3C4952;
}

.media-library-widget-activate-link a {
    background-color: #3C4952;
    color: white;
    display: block;
    font-size: 9pt;
    font-weight: bold;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    margin-top: 12px;
}

.media-library-widget-activate-link a em {
    float: right;
    font-style: normal;
    color: white;
    font-size: 9px;
    background-color: #F39B33;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px 3px;
}

.media-library-widget {
    width: 189px;
    background-color: white;
    border-left: 1px solid #3C4952;
    border-bottom: 1px solid #3C4952;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin: 0;
    padding: 0;
    border-right: 6px solid #3c4952;
}

.media-library-widget a {
    text-decoration: none;
}

.media-library-widget > ol {
    margin: 0;
    padding: 0;
    height: 300px;
    overflow-y: auto;
}

.media-library-widget > ol > li {
    -border-top: 1px solid #ddd;
    -border-bottom: 1px solid #999;
    border-top: 1px dashed #ddd;
    padding: 8px 4px 5px 4px;
    margin: 0 0 1px 0;
    position: relative;
    top: -1px;
}

.media-library-widget > ol > li > img {
    float: left;
    margin: 0 5px 5px 0;
    cursor: move;
    height: 30px;
}

.media-library-widget > ol > li .remove {
    color: white;
    background: #b00;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 1px 3px 3px;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 9px;
    float: right;
    margin: 0 0 0 5px;
}

.media-library-widget > ol > li .element {
    font-size: 9px;
    color: #777;
    clear: left;
    margin-top: 5px;
    text-transform: uppercase;
}

.media-library-widget > ol > li .thumbnail-handle {
    background-color: #999999;
    color: white;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px 3px 2px 3px;
    font-size: 9px;
    cursor: move;
    margin: 0 3px 3px 0;
    float: left;
}

.media-library-widget > ol > li .thumbnail-handle.disabled {
    background-color: #ccc;
    cursor: auto;
}

.media-library-widget > ol > li .add-filter {
    background-color: #666;
    color: white;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px 3px 2px 3px;
    font-size: 9px;
    /*font-weight: bold;*/
    cursor: pointer;
    margin: 0 3px 3px 0;
    float: left;
}

.media-library-widget > ol > li .thumbnails {
    clear: left;
    margin-top: 3px;
}

.media-library-widget > ol > li label {
    background: url(../images/icons/pencil_sm.png) no-repeat left 2px;
    padding: 0 0 0 13px;
}

.media-library-widget > ol > li > input {
    width: 96%;
}

.media-library-widget > ol > li > div.ajax-loader {
	width: 16px;
	height: 16px;
	background: white url(../images/ajax-loader.gif) no-repeat;
	position: absolute;
	top: 6px;
	right: 2px;
}


/* STYLE OVERRIDES FOR EMBEDDED MediaTagWidget */
.media-library-widget > div {
    width: 100%;
    height: 29px;
    background-color: #3C4952;
}

.media-library-widget .tag-widget {
    padding-left: 8px;
}
.media-library-widget .activate-link {
    width: 178px;
}


/* DROPPABLE STYLES */
.drop-overlay {
    position: absolute;
    background-color: #bb0000;
    opacity: 0.5;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    z-index: 19999;
}

.drop-overlay.hover {
    background-color: #009933;
}

/* ALLOW THE WIDTH & HEIGHT TO BE CALCULATED IN SAFARI */
span.mceEditor {
    display: block !important;
}

/* FILTER DIALOG STYLES */
#media-filter-dialog .left > div {
    margin-bottom: 2px;
}

#media-filter-dialog .left em {
    display: block;
    margin-top: 10px;
    font-size: 10px;
}

#media-filter-dialog label {
    margin-right: 7px;
}

#media-filter-dialog div {
    border: 0;
}

#media-filter-dialog .left {
    float: left;
    width: 400px;
    text-align: left;
}

#media-filter-dialog .left #filter-source-image {
    border: 1px solid white;
    margin: 0 0 10px 0;
    padding: 0;
    display: inline-block;
}

#media-filter-dialog .left img {
    margin: 0;
    padding: 0;
}

#media-filter-dialog .left #filter-source-image.border {
    border: 1px dashed black;
}

#media-filter-dialog .right {
    margin-left: 400px;
    width: 400px;
    text-align: left;
}

#media-filter-dialog label {
    font-weight: bold;
}

#media-filter-dialog #filter-options fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-right: 13px;
}

#media-filter-dialog #filter-options fieldset legend {
    font-weight: bold;
    font-size: 10px;
    color: #ddd;
}

#media-filter-dialog #filter-select {
    margin-bottom: 10px;
    line-height: 16px;
}

#media-filter-dialog #filter-options li input {
    width: 98%;
}

