/* Thumbnail Control */
.tag-widget div.control label,
.tag-widget div.sortby label {
    display: inline;
    padding-right: 0;
}

.tag-widget div.control div.buttons,
.tag-widget div.sortby div.buttons {
    display: inline-block;
    list-style-type: none;
    padding:  0;
    margin: 0 0 -5px 0;
}

.tag-widget div.control div.buttons div,
.tag-widget div.sortby div.buttons div {
    display: inline-block;
    margin: 0 3px;
    float: left;
}

.tag-widget div.control div.buttons div a,
.tag-widget div.sortby div.buttons div a {
    color: #888;
    cursor: pointer;
    display: block;
    padding: 1px 2px;
    border: 1px solid #DDD;
    background-color: #EEE;
}

 * html .tag-widget div.control div.buttons div a,
 * html .tag-widget div.sortby div.buttons div a {
    width: 1%;
}

.tag-widget div.control div.buttons div a:hover,
.tag-widget div.sortby div.buttons div a:hover {
    text-decoration: none;
}

.tag-widget div.ajax-loader {
    display: none;
    background: url(../images/ajax-loader.gif) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 1em -3px 1em;
}

.tag-widget div.status {
    display: inline-block;
    float: right;
}

.tag-widget div.status label {
    display: inline;
}

/* Thumbnail Grid */
.tag-widget ol.grid {
    position: relative;
    overflow: auto;
    height: 210px;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: normal;
}

.tag-widget ol.grid.single {
    white-space: nowrap;
}

.tag-widget ol.grid li.item {
    position: relative;
    width: auto;
    margin: 5px 5px;
    padding: 0 !important;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.tag-widget ol.grid li.item label {
    text-transform: none !important;
}

.tag-widget ol.grid li.item div.thumbnail-wrapper {
    margin: 0 auto;
    display: inline-block;
    position: relative;
}

.tag-widget ol.grid li.item div.thumbnail-wrapper a.remove {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    width: 16px;
    background-color: #ff3030;
    color: #fff;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    margin: 2px 2px 0 0;
    display: none;
}

.tag-widget ol.grid li.item div.thumbnail-wrapper a.remove:hover {
    text-decoration: none;
}

.tag-widget ol.grid li.item .thumbnail {
    margin: 0 auto;
}

.tag-widget ol.grid li.item div.thumbnail.placeholder {
    background: url(../images/ajax-loader-big.gif) 50% 50% no-repeat;
}

.tag-widget ol.grid li.item label {
    position: relative;
    overflow: hidden;
    line-height: 1.3;
    display: block;
    text-align: center;
    padding: 0 !important;
    width: auto !important;
    text-shadow: white 0 1px 1px;
    color: #333;
    vertical-align: top;
    margin-top: 3px;
}

.tag-widget ol.grid li.item label:before {
    content: ' ';
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(255, 255, 255, 0)), to(white));
    background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,1));
    display: inline-block;
    height: 1.25em;
    position: absolute;
    right: 0;
    width: 1em;
    z-index: 10;
}

.tag-widget ol.grid li.item ul.details {
    overflow: hidden;
    height: 17px;
    text-align: center;
}

.tag-widget ol.grid li.item ul.details li {
    display: inline;
    line-height: 17px;
    font-size: 8px;
    margin: 0 2px;
}

.tag-widget ol.grid ul.details .type {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #999;
    background-color: #eee;
    padding: 1px 3px !important;
    text-transform: uppercase;
}


/* Thumbnail Grid : Reorder mode on */
.tag-widget > ol.grid.sortable > li {
    cursor: move;
    padding: 1px 0 3px 0;
}

/* Upload Confirmation Window */
.ui-dialog-content table {
    width: 100%;
}

.ui-dialog-content div.file-table-wrapper {
    overflow: auto;
}

.ui-dialog-content .file td {
    vertical-align: top;
}

.ui-dialog-content .file td.file_upload_preview {
    width: 160px;
}

.ui-dialog-content .file td.file_upload_preview.placeholder {
    width: 160px;
    height: 150px;
    background: url('../images/cluster-logo-small.png') top center no-repeat;
}

.ui-dialog-content .file .fields li {
    margin: 6px 0 7px 0;
}

.ui-dialog-content .file .fields label {
    color: #3A4750;
    font-size: 7.5pt;
    font-weight: normal;
    margin: 0 0 2px 0;
    padding: 0 10px;
    text-transform: uppercase;
    width: 8em;
    display: inline-block;
}

.ui-dialog-content .file .fields input.readonly {
    border: none;
    width: 80%;
}

.file_upload_progress div.ui-progressbar {
    width: 100%;
}
.file_upload_progress.inline {
    clear: both;
    width: 387px;
    margin-top: 5px;
}
.ui-dialog-content .file .fields label {
    float: left;
    width: 12em;
}
.ui-dialog-content .file .fields li {
   padding-top: 3px;
}

.ui-dialog-content .file .fields li.checkbox div label {
    margin: 3px 3px -3px 0;
    padding: 0;
    width: auto;
}
.ui-dialog-content .file .fields li.checkbox div input {
    margin-top: 2px;
}
.ui-dialog-content .file .fields li div.tag-widget {
    padding: 0;
}
.ui-dialog-content .file .fields li div.tag-widget > a.activate-link {
    clear: none;
}
.ui-dialog-content .file .fields li input[type=text] {
    width: auto;
    z-index: 100004;
}
.ui-dialog-content .file .fields li .clear-link {
    z-index: 100004;
}