@CHARSET "UTF-8";

body {
	font-family: sans-serif;
}

#originalContainer {
    float: left;
    width: 70%;
}

#thumbnailContainer {
    float: right;
    width: 30%;
}

.thumbnail {
	padding: 4px;
}

.thumbnail.img {
}

.form {
    font-size: 12px;
    width: 100%;
}

.form table {
}

.form th {
    font-size: 12px;
    color: #404040;
    width: 250px;
    text-align: left;
}

.statusList {
    font-size: 12px;
}
 
.statusOK {
    color: green;
}

.statusFail {
    color: red;
}

.statusRunning {
    color: black;
}

.statusComplete {
    color: grey;
}
